.breadcrumbs__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs__link {
  display: block;
  color: var(--main-color);
}

.breadcrumbs__item {
  position: relative;
  margin-right: 42px;
}

.breadcrumbs__item:not(:last-child)::before {
  content: "";
  position: absolute;
  top: 9px;
  right: -24px;
  width: 8px;
  height: 8px;
  background-color: var(--main-color);
  transform: rotate(45deg);
}

.breadcrumbs__link--active {
  color: var(--breadcrumbs-active-color);
}
