:root {
  --text-color: #ffffff;
  --main-color: #000000;
  --background-color: #f9f6f3;
  --active-link-color: #242424;
  --active-button-color: #663d15;
  --footer-background-color: #1a1a1a;
  --breadcrumbs-active-color: #aba9a7;
  --product-price-color: #e5e5e5;
  --product-shadow-color: rgba(0, 0, 0, 0.2);

  /* auxiliary colors */
  --line-separator-gradient-color: rgba(197, 194, 192, 0);
  --line-separator-main-color: #c5c2c0;
}
