a {
  text-decoration: none;
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.wrapper {
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-size: 30px;
  line-height: 42px;
}

.button {
  display: block;
  padding: 10px 10px;
  box-sizing: border-box;
  min-width: 140px;
  min-height: 44px;
  text-align: center;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  border: none;
  color: var(--text-color);
  background-color: var(--main-color);
  cursor: pointer;
}

.button:hover,
.button:active {
  background-color: var(--active-button-color);
}

.button--copyright:hover,
.button--copyright:active {
  color: var(--main-color);
  background-color: var(--text-color);
}

.button--news {
  width: 140px;
}

.button--form {
  min-width: 112px;
}

.button--product {
  padding: 5px 10px;
  min-width: 78px;
  min-height: 43px;
}
