.main-header {
  width: 100%;

  outline: 1px solid green;
}

.main-header__wrapper {
  display: grid;
  grid-template-columns: 1fr max-content;
  margin: 0 auto;
  width: 940px;

  outline: 1px solid purple;
}

.main-header__logo {
  grid-column: 1 / -1;
  justify-self: center;
  order: 3;

  outline: 1px solid red;
}
