.user-navigation {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  max-width: 250px;
  list-style: none;
}

.user-navigation__link {
  position: relative;
  display: block;
  padding: 26px 20px 26px 53px;
}

.user-navigation__link:hover {
  background-color: var(--active-link-color);
}

.user-navigation__link::before {
  content: "";
  position: absolute;
  top: 28px;
  left: 30px;
  width: 16px;
  height: 16px;
  background-image: url("./../../img/icons/sprite.svg#login");
  background-repeat: no-repeat;
}
